.App {
  text-align: center;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: linear-gradient(to right, #c8a2c8, #663399); */
  background: #800080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6c72cb;
}

.bulbs{
  width: 10%;
}

.bulb-switch{
  margin-top: 50px;
  padding: 5px 50px;
  background-color: #EEEDF0;
  color: #6c72cb;
  outline: none;
  border-radius: 30px;
  border: none;
  font-size: medium;
  animation: btnWork 4s 2s infinite alternate;
}

button:hover{
  box-shadow: 2px 2px 15px 15px #6c72cb;
}

span{
  color: #EEEDF0;
}



